
.banner{
    background-image: url(../../image/bannerBackground.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 800px;
    border-bottom: 10px solid #000;
    display: flex;
    flex-direction: column;
}


