
#button{
    display: inline-block;
    background-color: #1b7dd3;
    border-radius: 10px;
    height: 60px;
    line-height: 60px;
}
.button{
    background-color: #1b7dd3;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    outline-style: none;
    border: none;
    border-radius: 10px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0;
    box-shadow: 5px -5px 8px #0c0753;
    transition: transform 100ms cubic-bezier(.42,0,.82,2.78);
}
#button:hover{
}
.button:hover{
    background-color: cornflowerblue;
    box-shadow: -5px 5px 8px #0c0753;
    transform: scale(1.10);
}

#button:active{
    color: #1334eca8;
}

.button:active{
    color: #1334eca8;
}

.button.-btColor{
    background-color: darkgoldenrod ;
}
.button.-btColor:hover{
    background-color: gold ;
}
.button.-btColor:active{
    color: darkorange ;
}
.button.-btSmall{
    height: 35px;
    width: 90%;
}

